<div class="item">

	<{include file="db:myreferer_head.html"}>

<{if $numrows_referer}>
<div class="itemHead"><{$referer}>&nbsp;[<{$numrows_referer}>]</div>
<table class="table">
<div class="itemBody">
<tr>
	<th>	N°		</th>
	<th>	<{$referer}></th>
	<th>	<{$visit}></th>
	<th>	<{$date}></th>

</tr>

<{foreach item=info_referer from=$infos_referer}>
<tr class="<{cycle values="even,odd"}>">
	<td align="center">
		<{$info_referer.count}>
	</td>
	<td>
		<{if $info_referer.ref_url}>
		<a href="<{$info_referer.ref_url}>" title="<{$info_referer.alt_referer}>" target="_blank"><{$info_referer.referer}></a>
		<{else}>
		<{$info_referer.referer}>
		<{/if}>
	</td>
	<td align="center">
		<{$info_referer.visit}>
	</td>
	<td align="center">
		<{$info_referer.date}>
	</td>
</tr>
<{/foreach}>
</div>
</table>
<div class="itemPermaLink" align="right"><a href='<{$nav_referer}>' alt='<{$more}><{$referer}>'>[<{$more}><{$referer}>...]</a></div>
<p/>
<{/if}>




<{if $numrows_engine}>
<div class="itemHead"><{$engine}>&nbsp;[<{$numrows_engine}>]</div>
<table class="table">
<div class="itemBody">
<tr>
	<th>	N°		</th>
	<th>	<{$engine}></th>
	<th>	<{$visit}></th>
	<th>	<{$date}></th>
</tr>

<{foreach item=info_engine from=$infos_engine}>
<tr class="<{cycle values="even,odd"}>">
	<td align="center">
		<{$info_engine.count}>
	</td>
	<td>
		<{if $info_engine.ref_url}>
		<a href="<{$info_engine.ref_url}>" title="<{$info_engine.alt_referer}>" target="_blank"><{$info_engine.referer}></a>
		<{else}>
		<{$info_engine.referer}>
		<{/if}>
	</td>
	<td align="center">
		<{$info_engine.visit}>
	</td>
	<td align="center">
		<{$info_engine.date}>
	</td>
</tr>
<{/foreach}>
</div>
</table>
<div class="itemPermaLink" align="right"><a href='<{$nav_engine}>' alt='<{$more}><{$engine}>'>[<{$more}><{$engine}>...]</a></div>
<{/if}>

<{if $numrows_keyword}>
<p />
<div class="itemHead"><{$keyword}>&nbsp;[<{$numrows_keyword}>]</div>
<table class="table">
<div class="itemBody">
<tr>
	<th>	N°		</th>
	<th>	<{$keyword}></th>
	<th>	<{$visit}></th>
	<th>	<{$date}></th>
</tr>

<{foreach item=info_keyword from=$infos_keyword}>
<tr class="<{cycle values="even,odd"}>">
	<td align="center">
		<{$info_keyword.count}>
	</td>
	<td>
		<{$info_keyword.referer}>
	</td>
	<td align="center">
		<{$info_keyword.visit}>
	</td>
	<td align="center">
		<{$info_keyword.date}>
	</td>
</tr>
<{/foreach}>
</div>
</table>
<div class="itemPermaLink" align="right"><a href='<{$nav_keyword}>' alt='<{$more}><{$keyword}>'>[<{$more}><{$keyword}>...]</a></div>
<{/if}>

<{if $numrows_query}>
<p />
<div class="itemHead"><{$query}>&nbsp;[<{$numrows_query}>]</div>
<table class="table">
<div class="itemBody">
<tr>
	<th>	N°		</th>
	<th>	<{$query}></th>
	<th>	<{$visit}></th>
	<th>	<{$date}></th>
</tr>

<{foreach item=info_query from=$infos_query}>
<tr class="<{cycle values="even,odd"}>">
	<td align="center">
		<{$info_query.count}>
	</td>
	<td>
		<{$info_query.referer}>
	</td>
	<td align="center">
		<{$info_query.visit}>
	</td>
	<td align="center">
		<{$info_query.date}>
	</td>
</tr>
<{/foreach}>
</div>
</table>
<div class="itemPermaLink" align="right"><a href='<{$nav_query}>' alt='<{$more}><{$query}>'>[<{$more}><{$query}>...]</a></div>
<{/if}>

<{if $numrows_robots}>
<p />
<div class="itemHead"><{$robot}>&nbsp;[<{$numrows_robots}>]</div>
<table class="table">
<div class="itemBody">
<tr>
	<th>	N°		</th>
	<th>	<{$robot}></th>
	<th>	<{$visit}></th>
	<th>	<{$date}></th>
</tr>

<{foreach item=info_robots from=$infos_robots}>
<tr class="<{cycle values="even,odd"}>">
	<td align="center">
		<{$info_robots.count}>
	</td>
	<td>
		<{if $info_robots.ref_url}>
		<a href="<{$info_robots.ref_url}>" title="<{$info_robots.alt_referer}>" target="_blank"><{$info_robots.referer}></a>
		<{else}>
		<{$info_robots.referer}>
		<{/if}>
	</td>
	<td align="center">
		<{$info_robots.visit}>
	</td>
	<td align="center">
		<{$info_robots.date}>
	</td>
</tr>
<{/foreach}>
</div>
</table>
<div class="itemPermaLink" align="right"><a href='<{$nav_robot}>' alt='<{$more}><{$robot}>'>[<{$more}><{$robot}>...]</a></div>

<{if $admin}></p>
	<div class="itemFoot"><{$admin}></div>
<{/if}>

<{/if}>
</div>


<{if $numrows_pages}>
<p />
<div class="itemHead"><{$page}>&nbsp;[<{$numrows_pages}>]</div>
<table class="table">
<div class="itemBody">
<tr>
	<th>	N°		</th>
	<th>	<{$page}></th>
	<th>	<{$visit}></th>
	<th>	<{$date}></th>
</tr>


<{foreach item=info_pages from=$infos_pages}>
<tr class="<{cycle values="even,odd"}>">
	<td align="center">
		<{$info_pages.count}>
	</td>
	<td>
		<{if $info_pages.ref_url}>
		<a href="<{$info_pages.ref_url}>" title="<{$info_pages.alt_referer}>" target="_blank"><{$info_pages.referer}></a>
		<{else}>
		<{$info_pages.referer}>
		<{/if}>
	</td>
	<td align="center">
		<{$info_pages.visit}>
	</td>
	<td align="center">
		<{$info_pages.date}>
	</td>
</tr>
<{/foreach}>
</div>
</table>
<div class="itemPermaLink" align="right"><a href='<{$nav_page}>' alt='<{$more}><{$page}>'>[<{$more}><{$page}>...]</a></div>

<{if $admin}></p>
	<div class="itemFoot"><{$admin}></div>
<{/if}>

<{/if}>
</div>

<{if $numrows_users}>
<p />
<div class="itemHead"><{$robot}>&nbsp;[<{$numrows_users}>]</div>
<table class="table">
<div class="itemBody">
<tr>
	<th>	N°		</th>
	<th>	<{$users}></th>
	<th>	<{$visit}></th>
	<th>	<{$date}></th>
</tr>

<{foreach item=info_users from=$infos_users}>
<tr class="<{cycle values="even,odd"}>">
	<td align="center">
		<{$info_users.count}>
	</td>
	<td>
		<{if $info_users.ref_url}>
		<a href="<{$info_users.ref_url}>" title="<{$info_users.alt_referer}>" target="_blank"><{$info_users.referer}></a>
		<{else}>
		<{$info_users.referer}>
		<{/if}>
	</td>
	<td align="center">
		<{$info_users.visit}>
	</td>
	<td align="center">
		<{$info_users.date}>
	</td>
</tr>
<{/foreach}>
</div>
</table>
<div class="itemPermaLink" align="right"><a href='<{$nav_users}>' alt='<{$more}><{$robot}>'>[<{$more}><{$users}>...]</a></div>

<{if $admin}></p>
	<div class="itemFoot"><{$admin}></div>
<{/if}>

<{/if}>
</div>


	<{include file="db:myreferer_foot.html"}>